<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Angular Form ngif</title>

    <script src="vendor.js"></script>
    <script src="shared.js"></script>
    <script type="text/javascript">
        let app = angular.module('app', ['shared']);
        app.directive('scopeSpy', function() {
            return {
                scope: true,
                controller: function($scope) {
                    $scope.model = {};

                    $scope.submit = function(form) {
                        console.log('submitting model', $scope.model, form);
                    };

                }
            }
        });
    </script>

</head>
<body ng-app="app" class="container-fluid" scope-spy>

    <div class="row">

        <form name="registration" ng-submit="submit(registration)" novalidate
              class="col-sm-12 col-md-6 offset-md-3 card card-block">

            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" class="form-control" id="email"
                       placeholder="user@example.com" ng-model="model.email">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" id="password"
                       ng-model="model.password"
                       password-policy="">

                <!-- Password Invalid -->
                <div class="alert alert-danger" role="alert">
                    Your password does <strong>not</strong> match the following <strong>password policies</strong>:
                    <ul>
                        <li>must be at least 6 characters long.</li>
                        <li>must contain at least 1 lowercase letter.</li>
                        <li>must contain at least 1 uppercase letter.</li>
                        <li>must contain at least 1 number.</li>
                    </ul>
                </div>

                <!-- Password Valid -->
                <div class="alert alert-success">
                    Your password matches the <strong>password policies</strong>.
                </div>
            </div>

            <div class="form-group">
                <label for="passwordRepeat">Password Repeat</label>
                <input type="password" name="passwordRepeat" class="form-control" id="passwordRepeat"
                       ng-model="model.passwordRepeat">

                <!-- PasswordRepeat does not equals Password -->
                <div class="alert alert-danger" role="alert">
                    Your passwords do <strong>not</strong> match.
                </div>
            </div>

            <div class="text-xs-right">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>

    </div>

    <form-viewer></form-viewer>

</body>
</html>
